

/*------------------------------------------------------------------- reset styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*------------------------------------------------------------------- global styles */
body { font-family: arial, sans-serif; }
img { width: 100%; }



/*------------------------------------------------------------------- bracket styles */
#playoffbracket { width: 75%; margin: 1.5em auto; }
#playoffbracket > img { text-align: center; width: 60%; }

/* Split bracket sides */
div[class^="side-"] { position: relative; z-index: 1; width: 90%; margin: 1.5em 0 15% 5%; padding-top: 125%; background: url(http://www.nbaplayoffsbracket.com/img/bracket_west.svg) no-repeat; background-size: 100%; }

ol { position: absolute; left: -9%; top: 0; z-index: 2; width: 100%; padding-top: 115.78%; }
ol li { position: absolute; left: 0; z-index: 3; width: 15%; }
ol li a { display: block; background-repeat: no-repeat; background-size: contain; padding-top: 85%; background-position: center center; }

.one { top: -5.25%; }
.eight { top: 9%; }
.four { top: 23%; }
.five { top: 37.25%; }
.two { top: 51.25%; }
.seven { top: 65.45%; }
.three { top: 79.45%; }
.six { top: 93.55%; }

ol li ul.roundtwo li { position: absolute; width: 100%; } /* round two */
ol li ul.roundtwo li ul.conffinals li { position: absolute; } /* conf finals */
ol li ul.roundtwo li ul.conffinals li ul.finals li { position: absolute; } /* finals */
ol li ul.roundtwo li ul.conffinals li ul.finals li ul.champion li { position: absolute; } /* champ */

/* 2nd round */
li[class^="div-"] { left: 203%; }
.side-east li[class^="div-"] { right: 50%; }

.div-1 { top: 57%; }
.eight .div-1 { top: -69%; }
.div-2 { top: 60%; }
.five .div-2 { top: -65%; }
.div-3 { top: 60%; }
.seven .div-3 { top: -65%; }
.div-4 { top: 65%; }
.six .div-4 { top: -59%; }

.side-east .div-1 { top: 57%; }
.side-east .eight .div-1 { top: -69%; }
.side-east .div-2 { top: 60%; }
.side-east .five .div-2 { top: -65%; }
.side-east .div-3 { top: 60%; }
.side-east .seven .div-3 { top: -65%; }
.side-east .div-4 { top: 65%; }
.side-east .six .div-4 { top: -59%; }

/* conf finals */
.conf-1 { left: 196%; top: 128%; }
.div-2 .conf-1 { top: -124%; }
.conf-2 { left: 196%; top: 129%; }
.div-4 .conf-2 { top: -124%; }

.side-east .conf-1 { top: 128%; }
.side-east .div-2 .conf-1 { top: -124%; }
.side-east .conf-2 { top: 129%; }
.side-east .div-4 .conf-2 { top: -124%; }

/* finals */
.finalswest { left: 192%; top: 254%; }
.finalseast { left: 192%; top: 254%; }
.conf-2 .finalswest, .conf-2 .finalseast { top: -250%; }

/* champ */
.champwest { left: 85%; top: 550%; }
.champwest span { display: none; }
.side-east .champeast { left: 100%; top: -500%; }
.side-east .champeast span { display: none; }



div[class^="side-"] > ol li img, .outside img { display: none; }



.rec {
	display: none;
}



ol p a { display: block; height: 1em; color: #fff; font-weight: bold; font-size: 10px; font-family: arial, sans-serif; line-height: 100%; text-align: center; text-decoration: none; padding: 15% 45% 20% 3%; }
	

/*  DESKTOP styles */
@media all and (min-width: 700px) {
	

	/*------------------------------------------------------------------- bracket styles */
	#playoffbracket { margin: 3em auto; position: relative; }
	.max { max-width: 900px; }
	#playoffbracket > img { position: absolute; left: 50%; top: 0; width: 16%; margin-left: -8%; }
	div[class^="side-"] { width: 50%; float: left; padding-top: 58%; margin: 0; }
	#thisYear div[class^="side-"] { padding-top: 70%; }
	div[class$="-east"] { background-image: url(http://www.nbaplayoffsbracket.com/img/bracket_east.svg); }
	div[class$="-east"] > ol { left: auto; right: -9%; }
	div[class$="-east"] > ol li { left: auto; right: 0; }
	/* 2nd round - DESKTOP */
	.side-east li[class^="div-"] { right: 203%; }
	/* conf finals */
	.side-east .conf-1 { right: 196%; }
	.side-east .conf-2 { right: 196%; }
	/* finals */
	.side-east .finalseast { right: 192%; }
	/* champ */
	.champwest { top: -120%; }
	.side-east .champeast { left: auto; right: 85%; top: -120%; }
	
	.side-east ol li p:nth-of-type(1) { left: auto; right: 110%; }
	.side-east ol li p:nth-of-type(2) { left: auto; right: 140%; }
	.side-east ol li p:nth-of-type(3) { left: auto; right: 170%; }
	.side-east ol li p:nth-of-type(4) { left: auto; right: 200%; }
	
	
	/* record */
	ol li > p.rec { top: 25%; left: 120%; font-size: 11px; }
	.side-east ol li > p.rec { left: auto; right: 120%; text-align: right; }
	

	
	/*  clear floats */
	#playoffbracket:after, footer:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	*:first-child+html #playoffbracket, footer { zoom: 1; } /* IE7 */
}
@media print and (min-width: 700px) {
	header, ol li p, .outside, .foot-toggle, .foot-ads, .foot-social { display: none; }
	div[class^="side-"] > ol li img { display: inline; width: 80%; }
}